/*====================================== reset.css is here ========================================*/
*{margin:0; padding:0; box-sizing:border-box; }
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0; display:block; max-width:100%; height:auto;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal; }
ol,ul {list-style:none;margin: 0;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clearfix:after  {display: block;content: "";clear: both;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bor{border:0 none !important; }
header,nav,section,article,aside,footer,hgroup,figure {display: block; padding:0; margin:0;}
p{font-size:30px;line-height: 44px;color:#fff;font-weight:400;margin: 0;}
/**************************************************************************************/
a {color:#000;text-decoration:none;outline:0 none !important;}
a:hover, a:focus {color:#000;  text-decoration:none; outline:0 none !important;transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-web-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;}
h1 {font-size:72px;line-height:90px;color:#ffffff;font-weight:600;margin: 0;}
h2 {font-size: 60px;line-height: 65px;color: #fff;font-weight: 600;margin: 0;}
h3 {font-size: 30px;line-height:34px;color:#fff;font-weight:600;}

h4 {font-size: 24px;line-height: 28px;font-weight:700;color:#fff;margin: 0;}
h5 {font-size: 32px;line-height: 40px;font-weight:700;}
h6 {font-size:24px;line-height:30px;color:#fff;font-weight:600;margin: 0;}
/*---------------------------------------------------*/
html{min-height:100%;}
body{color:#171718;font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:400;background:url(../images/bg1.png)no-repeat;height:auto;min-height:100%;background-size:cover;background-position:center center;}
body.inner-body{background:url(../images/bg2.png)no-repeat;height: auto;background-size:cover;}
.flt_lt {float:left; display:inline;}
.flt_rt {float:right; display:inline;}
.btn{background:#fff;width: 349px;height: 46px;margin:0 auto;display: block;border-radius: 40px;text-align: center;}

/*--fonts here--*/

/*-----------LayOut Start here-----------------------*/
.wrapper{margin:0 auto;max-width:1920px;display:block;position: relative;top: 0;left: 0;min-height:100%;
   -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    
}

.container{max-width:1140px;margin:0 auto;padding: 0;}

/*-----------------home page start---------------------*/
/*--header start--*/

header{}
.header-dtls{padding: 40px 0 30px 28px;align-items: center;}
.logo{}
.logo a{}
nav{}
nav ul{margin: 0 -26px;}
nav ul li{padding: 0 48.9px;}
nav ul li a{font-size:24px;line-height:28px;color:#fff;font-weight:500;}
nav ul li a:hover{color:#ff8d2d;}

.invest{}
.invest-in{text-align:center;padding: 154px 0 215px 0;}
.invest-in h1{padding: 0 0 61px 0;}
.invest-in p{  padding: 0 0 92px 0px; letter-spacing: -0.3px;}
.invest-in a{}
.infra{}
.infra-in{text-align:center;padding: 114px 0 126px 0;}
.infra-in h2{ padding: 0 0 34px 0;}
.infra-top ul{ max-width: 656.1px; margin: 0 auto;   padding: 0 0 45px 0;}
.infra-top ul li{padding: 0 21px;}
.infra-top ul li a{font-size:24px;line-height:26px;color:#fff;font-weight:600;position:relative;}
.infra-top ul li a:after{background:#f46f01;content:'';position:absolute;top: 5px;right: -15px;width: 2px;height: 23px;}
.infra-top ul li:last-child a:after{display:none;}

.infra-icons{}
.infra-icons ul{}
.infra-icons ul li{padding: 0 0 49px 0;}
.infra-icons ul li figure{}
.infra-icons ul li figure img{ margin: 0 auto;}
a.get-btn{color:#ff8d2d;font-size:24px;line-height: 71px;width: 409px;height:75px;border:2px solid #ff7400;text-align:center;display: block;margin: 0 auto;text-transform: uppercase;font-weight: 500;}
a.get-btn:hover{background:#775336;}



.infra-icons a{width:314px;}
footer{}
.footer-in{padding: 147px 0 0 0;}
.footer-in > ul{}
.footer-in > ul > li{padding: 0 0 0 0;}
.footer-links{text-align: center;padding: 0 0 0 0;}
.footer-links h4{ padding: 0 0 20px 0;}
.footer-links ul{ max-width: 390px; margin: 0 auto; padding: 12px 0 0 27px;}
.footer-links ul li{padding: 0 0 12px 0;}
.footer-links ul li a{font-size:20px;line-height:24px;color:#fff;font-weight:400;display: block;text-align: center;z-index: 9;position: relative;}
.footer-links ul.social-icons li{padding:0 14px;position:relative;}
.footer-links ul.asi li a{position:relative;}
.footer-links ul.asi li a:after{background:#f46f01;content:'';position:absolute;top: 3px;right: -17px;width:1px;height: 20px;}
.footer-links ul.social-icons{max-width: 234px;margin: 0 auto;padding: 0;}
.footer-links ul.quicks{ padding: 12px 0 0 0;}
.footer-links ul.quicks li{}
.footer-links ul.asi li:last-child a:after{display:none;}
.copyright{padding: 91px 0 52px 0;}
.copyright p{font-size:16px;text-align:center;}
.copyright p span{display:inline-block;color:#f46f01;padding: 0 8px;}
.copyright p small{display:inline-block;padding: 0 5px;}
/*--menu--*/
.menu{display:block;cursor: pointer;}        
.menu {background: transparent;border: 0;outline: none;position: absolute;left: 89px;top: 56px;}
.menu  span{display:block;width: 39px;height: 4px;margin: 0px 0 11px 0;position: relative;right: 0;-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;background: #fff;}
.menu  span:nth-child(2){background:#ff7400;margin: 0 0 10px 8px;width: 45px;}
.menu  span:nth-child(3){ margin: 0 0 0 4px; width: 29px;}
.sidemenu{display: none;position: fixed;top:0;right: -250px;-webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out; transition: .25s ease-in-out;width: 250px;height: 100%;background: #ff7400;overflow: auto;z-index:9;}
.header-in{}
.fan-img{position:absolute;bottom:0;right:0;z-index:-1;}
.fan-img.fan-img1{bottom:0;left:0;z-index:-1;}
.fan-img.fan-img2{bottom: -130px;right: 0;z-index:-1;}
.fan-img figure{}
.fan-img figure img{}
.dots{position:absolute;top: 330px;left: 101px;}
.dots ul{}
.dots ul li{padding:0 0 100px 0;}
.dots ul li a{display:block;width:16px;height:16px;background:#fff;border-radius:100%;margin:0 auto;position: relative;}
.dots ul li.active a{width:30px;height:30px;background:#ff7400;}
.dots ul li.active{padding: 0 0 91px 0;} 
.dots ul li a:after{background:#576068;content:'';position:absolute;top: 32px;left:0;width:1px;height: 90px;right: 0;margin: 0 auto;}
.dots ul li:last-child a:after{display:none;}
.dots ul li:nth-child(2) a:after{top: 16px;height: 102px;}
.dots.dots1 ul li a:after{height: 100px;top:17px;}
.dots.dots1 ul li:nth-child(2) a:after{top: 31px;height: 93px;}






.numbers{position:absolute;top:744px;left: 66px;}
.numbers strong{font-size:37.24px;line-height:40px;color:#ff7400;display:inline-block;font-weight: 400;}
.numbers small{font-size:30px;line-height:40px;color:#fff;display:inline-block;font-weight: 400;padding: 5px 8px 0 11px;}
.numbers span{font-size:24px;line-height:28px;color:#fff;display:inline-block;font-weight: 400;padding: 14px 0 0 0;}
/**innerpage starts here**/
.monitor{position:relative;}
.monitor-in{text-align:center;padding: 134px 0 119px 0;}
.monitor-in h2{ padding: 0 0 61px 0;}
.monitor-in p{padding: 0 0 31px 7px; line-height: 43px;}
/**innerpage ends here**/
.graph{padding: 36px 31px 0 0;max-width: 1090px;margin: 0 auto;}
.graph h6{padding: 0 0 35px 31px;}
.graph p{font-size:16px;line-height:18px;padding: 0 0 0 0;}
.graph figure{ padding: 0 0 0 46px;}
.graph ul{}
.graph ul li{ padding: 0 0 23px 0;}
.graph.graph-new{padding: 29px 62px 0 0;}
.graph.graph-new ul{}
.graph.graph-new ul li{padding: 0 0 40px 0;}
.graph.graph-new  figure{padding: 0 0 0 70px;}
.graph.rate figure img{margin:0 auto;}
.graph.rate{}
.graph.rate h6{padding: 0 0 12px 31px;}
.graph.rate figure{padding:0;}
.graph.rate ul{padding: 48px 0 0 54px;max-width: 696px;margin: 0 auto;}
.graph.rate ul li{ padding: 0 0 0 91px; display: flex;
    vertical-align: middle;}
.graph.rate ul li a{display:inline-block;width:20px;height:20px;border-radius:100%;background:#8bffa3;}
.graph.rate ul li a.ble{background:#54fbff;}
.graph.rate ul li p{display:inline-block;padding: 0 0 0 26px;}
.facility{}
.facil-in{text-align: center;padding: 111px 0 106px 0;}
.facil-in h2{ padding: 0 0 51px 0;}
.facil-in p{ line-height: 71px; padding: 0 0 0 0;}
.facil-in figure{}
.facil-in figure img{margin:0 auto;}
.team{}
.team-in{text-align:center;padding: 115px 0 86px 0;}
.team-in h2{  padding: 0 0 41px 0;}
.team-in h3{padding: 37px 0 10px 0;}
.team-in h6{padding: 0 0 23px 0;font-size:30px;line-height:34px;color:#fff;font-weight:300;margin: 0;}
.team-in figure{}
.team-in figure img{ margin: 0 auto;}
.team-in ul{padding: 2px 0 34px 5px;}
.team-in ul li{padding: 0 12px;}
.team-in p{font-size:18px;line-height: 36px;padding: 0 0 35px 0;}






/*--contact form start --*/
input.get-btn{color:#ff8d2d;font-size:24px;line-height: 71px;width: 409px;height:75px;border:2px solid #ff7400;text-align:center;margin: 0 auto;text-transform: uppercase;font-weight: 500; background-color: transparent;}
input.get-btn:hover{background:#775336; cursor:pointer;}
input.get-btn:hover, input.get-btn:focus {color:#000;  text-decoration:none; outline:0 none !important;transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-web-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;}
.form-control {border-radius: .0rem !important;}
.form-control:focus {border-color: #ff7400;}

.bom{color: #ff7400;}

/*--contact form end  --*/




.open-menu .menu  span:nth-child(1) {
  top: 0px;
  top: 19px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(4deg);
  transform: rotate(45deg);
    width: 29px;}
.open-menu .menu  span:nth-child(2) {
  top: 12px;
  opacity: 0;
  right: -60px; }

.open-menu .menu  span:nth-child(3) {
  top: 24px;
  top: -9px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-family: 'HelveticaNeueLight';
  font-weight: normal;
margin:0;}