<!DOCTYPE html>
<html lang="en">
   <head>
  {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="format-detection" content="telephone=no">
      <title>{% block title %}{% endblock %} - BOM Machine</title>
      <!-- SET: FAVICON -->
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
      <!-- SET: STYLESHEET -->
       
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
       <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4hack.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
      <!--[if lt IE 9]>
      <script type="text/javascript" src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/IE9.js') }}"></script>
      <style></style>
      <![endif]-->
  {% endblock %}
   </head>
   <body>

    <!-- Set default navigation bar and controls default active_page for active class in NAVBAR and DOTBAR-->
    {% set navigation_bar = [
        ('/', 'index', 'Home'),
        ('/about', 'about', 'About'),
        ('/contact', 'contact', 'Contact Us')
    ] -%}
    {% set active_page = active_page|default('index') -%}
    <!-- END -->

      <!-- wrapper starts -->
      <div class="sidemenu"></div>
       <div class="wrapper">
           <div 
           {% if title == 'Home' %}class="dots"
           {% elif title == 'About' %} class="dots dots1"
           {% else %} class="dots"
           {% endif%}
           >

           <ul>
                {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif
                    %}><a href="{{ href|e }}">&nbsp;</a>
                    </li>
                {% endfor %}
               </ul>
           </div>


            <div class="numbers d-flex flex-wrap">
              
               <strong>
                {% if title == 'Home' %} 01
                {% elif title == 'About' %} 02
                {% else %} 03
                {% endif %}
               </strong>
                <small>/</small>
                <span>03</span>
            </div>
       <!--header start-->
           <header>
           <!--menu-->
               <div class="header-in">
                    <div class="menu">
                           <span></span>
                           <span></span>
                           <span></span>
                        </div>
               <div class="container">
                   <div class="header-dtls d-flex flex-wrap">
          
               <div class="logo">
               <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" width="193" height="64" alt="img"></a>
               </div>

               <nav class="ml-auto">
               <ul class="d-flex flex-wrap">
                {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif
                    %}><a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                {% endfor %}
                   </ul>
               </nav>
                     </div>
               </div>
               </div>

           </header>

        <div class="main-content">
          <div class="invest">
          {% block content %}{% endblock %}
          </div>
        </div>


          {% block footer %}
          <footer>
           <div class="container">
               <div class="footer-in">
               <ul class="d-flex flex-wrap">
                   <li class="col-md-4">
                   <div class="footer-links">
                       <h4>ABOUT US</h4>
                       <ul class="d-flex flex-wrap asi">
                       <li class="col-6"><a href="/about">Block Producer</a></li>
                       <li class="col-6"><a href="/about">Security</a></li>
                       <li class="col-6"><a href="/about">Automation</a></li>
                       <li class="col-6"><a href="/about">WAX</a></li>
                       </ul>
                    </div>
                   </li>
                   <li class="col-md-4">
                    <div class="footer-links">
                       <h4>QUICK LINKS</h4>
                       <ul class="quicks">
                       <li><a href="/about">About Us</a></li>
                       <li><a href="/contact">Contact Us</a></li>
                 
                       </ul>
                    </div>
                   </li>
                   <li class="col-md-4">
                   <div class="footer-links">
                       <h4>CONNECT WITH US</h4>
                       <ul class="d-flex flex-wrap social-icons">
                       <li><a href="https://twitter.com/bommachine"><img src="{{ url_for('static', filename='images/twitter.png') }}" width="36" height="29" alt="img"></a></li>
                       <li><a href="https://www.linkedin.com/in/charlesholtzkampf/"><img src="{{ url_for('static', filename='images/linked.png') }}" width="33" height="33" alt="img"></a></li>
                 
                       </ul>
                    </div>
                   </li>
                   </ul>
               </div>
               <div class="copyright">
               <p>Copyright © 2019 All rights reserved   <span> |</span>   BOMmachine <small><img src="{{ url_for('static', filename='images/heart.png') }}" width="16" height="14" alt="img"></small> WAX</p>
               </div>

               </div>
               
           </footer>
               
           {% endblock %}

           <div class="fan-img">
           <figure>
               <img src="{{ url_for('static', filename='images/fan.png') }}" width="1474" height="1752" alt="img">
               </figure>
           </div>
       </div>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
       <script>
         //slick slider
         $(document).ready(function() {
             $('.menu').click(function(e){
             $('body').toggleClass('open-menu');

               });
              $('nav').clone().appendTo('.sidemenu');
            
            });
      </script>
    </body>
</html>