{% extends "base.html" %}
{% block title %}Contact{% endblock %}
<!-- Set active_page to contact to assign class active -->
{% set active_page = "contact" %}
{% block content %}


               <div class="container">
               <div class="invest-in">
                   <h1>Contact Us </h1>
                    <p>If you would like to contact us about investing or want to <br>enquire about our bespoke ASIC monitoring system. <br> Please use the form below.</p>

                </div>
                   <figure>
                   <img src="{{ url_for('static', filename='images/divide-line1.png') }}" width="1131" height="27" alt="img">
                   </figure>
               </div>
       
               
  

<div class="monitor">
  <div class="container">
    <div class="monitor-in">
    <div class="site-section">
      <div class="container">
        <h2>Send Us A Message</h2>
        <div class="row">
          <div class="col-md-6 form-container">

             

          {% if success %}
          <p>Thank you for your message. We'll get back to you shortly.</p>
       
          {% else %}

              <!-- Form error messages -->
              {% for message in form.name.errors %}
                <div class="flash">{{ message }}</div>
              {% endfor %}
             
              {% for message in form.email.errors %}
                <div class="flash">{{ message }}</div>
              {% endfor %}
             
              {% for message in form.subject.errors %}
                <div class="flash">{{ message }}</div>
              {% endfor %}
             
              {% for message in form.message.errors %}
                <div class="flash">{{ message }}</div>
              {% endfor %}
              <!-- Form error messages -->

            <form action="{{ url_for('contact') }}"  method="post" id="contact-form">
            {{ form.hidden_tag() }}
             

              <div class="row form-group">
                <div class="col-md-12">
                  
                  {{ form.name(class_="form-control") }}
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
        
                  {{ form.email(class_="form-control") }}
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">

                  {{ form.subject(class_="form-control") }}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
      
                  {{ form.message(class_="form-control") }}
                  <!--textarea name="message" id="message" cols="30" rows="7" name="message" class="form-control"></textarea-->
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  {{ form.submit(class_="get-btn") }}
                </div>
              </div>

           {% endif %}
  
            </form>
          </div>
         <div class="col-md-6 ml-auto contact-info">
              <h5 class="text-uppercase">Address</h5>
              <img src="static/images/location.png" alt="" class="floating-icon">
              <p class="mb-4">45 Hazlemere Road. Penn, <br> Buckinghamshire, United Kingdom</p>
              <h5 class="text-uppercase">Email Address</h5>
              <img src="static/images/email.png" alt="" class="floating-icon">
              <p class="mb-0 "><a class="bom" href="mailto: charles@bommachine.co.uk">charles@bommachine.co.uk</a></p>
          </div>
          </div>
        </div>
      </div>
    </div>
    
       
      </div>
    </div>
  </div>

    
      
     {% endblock %}