{% extends "base.html" %}
{% block content %}


               <div class="container">
                 <div class="invest-in">
                     <h1>BTC Mining</h1>
                     <p>Automated Devops Inspired Infrastructure Fully monitored <br> and automated control Utilising latest S17 and T17 ASIC miners</p>
                     <a href="#" class="get-btn">Get in Touch to Invest</a>
                     
                     </div>
                     <figure>
                     <img src="{{ url_for('static', filename='images/divide-line1.png') }}" width="1131" height="27" alt="img">
                     </figure>
                 </div>
               
               </div>
               <div class="infra">
               <div class="container">
                   <div class="infra-in">
                   <h2>Infrastructure</h2>
                       <div class="infra-top">
                       <ul class="d-flex flex-wrap">
                       <li><a href="#">Bitcoin Mining</a></li>
                       <li><a href="#">Security</a></li>
                       <li><a href="#">Automation</a></li>
                       <li><a href="#">ASIC</a></li>
                       
                       </ul>
                       </div>
                       <div class="infra-icons">
                       <ul class="d-flex flex-wrap">
                           <li class="col-md-4 col-sm-6">
                           <figure>
                               <img src="{{ url_for('static', filename='images/icon1.png') }}" width="224" height="238" alt="img">
                               </figure>
                           </li>
                            <li class="col-md-4 col-sm-6">
                           <figure>
                               <img src="{{ url_for('static', filename='images/icon2.png') }}" width="230" height="230" alt="img">
                               </figure>
                           </li>
                            <li class="col-md-4 col-sm-6">
                           <figure>
                               <img src="{{ url_for('static', filename='images/icon3.png') }}" width="238" height="240" alt="img">
                               </figure>
                           </li>
                            <li class="col-md-4 col-sm-6">
                           <figure>
                               <img src="{{ url_for('static', filename='images/icon4.png') }}" width="226" height="232" alt="img">
                               </figure>
                           </li>
                            <li class="col-md-4 col-sm-6">
                           <figure>
                               <img src="{{ url_for('static', filename='images/icon5.png') }}" width="226" height="228" alt="img">
                               </figure>
                           </li>
                            <li class="col-md-4 col-sm-6">
                           <figure>
                               <img src="{{ url_for('static', filename='images/icon6.png') }}" width="183" height="220" alt="img">
                               </figure>
                           </li>
                           </ul>
                           <a href="#"class="get-btn">Get in Touch </a>
                       </div>
                       
                       
                       
                       
                   </div>
                      <figure>
                     <img src="{{ url_for('static', filename='images/divide-line2.png') }}" width="1131" height="27" alt="img">
                     </figure>
                   </div>

           
  {% endblock %}
